body
{
	background-color: #1f202b;
	color: white;
	font-family: 'Montserrat', sans-serif;
}

#intro
{
	height: 725px;
	background: url("../img/hero.png");
    background-size: cover; 
	margin-top: 50px;
}
#port
{
	height: 1250px;
}

#about
{
	height: 550px;
	background-image: url("../img/about.png");
    background-size: cover;
}

#contact
{
	height: 280px;
}

nav 
{
    float: right; 
    padding: 0px 68px;
    margin-top: -52px;
}

nav li 
{
    display: inline-block;
    padding-left: 110px;
}

nav a
{
    font-size: 18px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}    

div #int
{
	padding: 150px 68px 68px 68px;
	line-height: 42px;
}
#int h3
{
    font-size: 38px;
    font-weight: 400;
}

#int p 
{
    width: 440px;
    line-height: 34px;
    font-size: 16px;
}
    
h2
{
	text-align: center; 
	margin: 8px 0 80px 0;
    font-weight: 500;
}

#port img
{
    transform: scale(1.0);
    transition: 1s;
    box-sizing: border-box;
    width: 550px;
    height: 350px;
}

#port img:hover
{
	transform: scale(1.1);
}    

.ju
{
	width: 50%;
	float: left;
	margin-bottom: 90px;
}

.ju img 
{
    margin-left: 62px;
}

.ju h4
{
     margin-left: 62px;
     font-weight: 500;
     font-size: 20px;
}

.ro h4
{
    font-weight: 500;
    font-size: 20px;
}

.ro
{
	width: 45.3%;
	float: right;
	margin-bottom: 90px;
}

.re h4
{
    font-weight: 500;
    font-size: 20px;
}

.re
{
	text-align: center; 
	clear: both;
}

#about p
{
    width: 520px;
    margin-left: 62px;
    font-size: 24px;
    color: #1f202b;
    float: left;
    line-height: 30px;
}

#about h4 
{
    text-align: center;
    padding-top: 22px;
    font-size: 32px;
    color: #db5c21;
    font-weight: 500;
}

#about h3
{
    margin-left: 62px;
    font-size: 22px;
    color: #352f4a;
    margin-bottom: 2px;
}

.cont 
{
    width: 600px;
    float: left;
}

.social-media
{
    width: 600px;
    float: right;
}

.cont h3 
{
    text-align: center;
    font-size: 24px;
    font-weight: 500; 
}

.cont p 
{
    text-align: center;
    font-size: 20px;
}


.social-media h3 
{
    font-size: 24px;
    text-align: center;
    font-weight: 500;
}

.media li
{
  display: inline;
  margin-left: 114px;
  padding-left: 34px;
}

#ins
{
  margin-left: -28px;
}

#git
{
    margin-left: 4px;
}

#contact h2
{
   font-family: 'Pacifico', cursive;
   margin-top: 20px;
   margin-bottom: 20px;
}